/* Fonts and Colors */
body {
	background: #696969;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
h1 {
	font: 700 72px 'Raleway', sans-serif;
	color: white;
	text-transform: uppercase;
	text-align: center;
}
h2 {
	font: lighter 18px 'Raleway', sans-serif;
	color: white;
}
a{
	text-decoration: none;
	color:  blue;
}
a:hover {
	text-decoration: none;
	color: purple;
}
/* Custom design */
#banner {
	background-image: url(https://unsplash.it/5616/3744?image=743);
	background-size: cover;
	height: 600px;
	padding: 150px 0;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 5px #0e0e0e;
}
#banner h1 {
	text-align: center;
	color: white;
	font-size: 60px;
}
#banner p {
	color: white;
	font-size: 30px;
	font-weight: lighter;
}
.logo {
	float: left;
	margin: 30px 0 0 30px;
}
.project {
	padding: 25px;
	text-align: center;
}
.project {
	list-style-type: none;
}
.project h1 {
	color: #7fa4ab;
}
.project h2 {
	color: black;
	text-align: center;
	font-size: 35px;
}
.project p {
	color: black;
	text-align: center;
	font-size: 15px;
}
#footer {
	background: rgb(30, 30, 30);
	color: white;
	font-size: 15px;
	padding: 20px;
	font-weight: lighter;
}
#footer li {
    list-style-type: none;
}
#footer a {
	font-size: 20px;
	color: #696969;
}
#footer a:hover {
	color: white;
}
